# Binary and build directories
bin/
build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files (ending with ~)
*~
*.autosave

# User files from QtCreator
CMakeLists.txt.user*

# IntelliJ files
.idea/

# logs
logs/
